{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
    <div style="width:20%; float:left; color:#89a820; background-color:#000">
        {% placeholder "sidebar" %}
    </div>
    <div style="width:80%; float:left; color:#000; background-color:#89a820">
        {% placeholder "content" %}
    </div>
{% endblock content %}