{% extends "base.html" %}

{% block content %}

    <h3>{{ title }}</h3>
   {% if not user.is_authenticated %}
   <p> <a href="{% url 'log_in' %}" style="color:#89a820">Zaloguj</a> |
    <a href="{% url 'register' %}" style="color:#89a820">Zarejestruj</a> </p>
   {% endif %}
 {% if user.is_authenticated %}
  <p>  <a href="{% url 'log_out' %}" style="color:#89a820">Wyloguj</a> |

    <a href="{% url 'create' %}" style="color:#89a820">Napisz na blogu</a>

</p>
    {% endif %}

    {% for art in wpisy %}
        <h4>{{ art.tytul }}</h4>
        <a href="{% url 'edit' art.id %}">Edytuj</a>
        <p>{{ art.pub_date }} autor: <a href="{% url 'user_posts' art.user.id %}">{{ art.user.username }}</a></p><br />
        {% if art.mod_date %}
        <p>{{ art.mod_date }} zmieniony przez: <a href="{% url 'user_posts' art.user2.id %}">{{ art.user2.username }}</a></p><br />
        {% endif %}
        <div>{{ art.tresc }}</div>
        <div class="tagi">
          <b>  Tagi: </b>
               
            {% for tag in art.tags.all %}
               | <a href="{% url 'tagged' tag.id %}">{{ tag }}</a> |
            {% endfor %}
        </div>
        <hr />
    {% endfor %}
{% endblock %}