{% extends "base.html" %}

{% block content %}
    <h3>Dodaj wpis:</h3><br/>
    <form method="POST" action="{% url 'create' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.tytul.errors }}
                <label for="tytul">Title:</label>
                {{ form.tytul }}
            </div>
            <div class="fieldWrapper">
                {{ form.tresc.errors }}
                <label for="tytul">Text:</label>
                {{ form.tresc }}
            </div>
            <div class="fieldWrapper">
                <label for="tytul">Author:</label>
                <input type="text" readonly value="{{ request.user.username }}" />
            </div>
            <div class="fieldWrapper">
                <label for="tytul">tagi</label>
                {{ form.tags }}
            </div>

            <input type="submit" value="DODAJ" />
        </fieldset>
    </form>
{% endblock %}