﻿{% extends "base.html" %}

{% block content %}
    <h3>Logowanie</h3><br />
    <form action="{% url 'log_in' %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.login.errors }}
                <label for="login">Login:</label>
                {{ form.login }}
            </div>
            <div class="fieldWrapper">
                {{ form.password.errors }}
                <label for="password">Hasło:</label>
                {{ form.password }}
            </div>
            <br />
            <input type="submit" value="ZALOGUJ" />
    </form>
{% endblock %}