﻿{% extends "base.html" %}

{% block content %}
    <h3>Rejestracja</h3><br />
    <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.login.errors }}
                <label for="login">Login:</label>
                {{ form.login }}
            </div>
            <div class="fieldWrapper">
                {{ form.email.errors }}
                <label for="password">Email:</label>
                {{ form.email }}
            </div>
            <div class="fieldWrapper">
                {{ form.password1.errors }}
                <label for="password">Hasło:</label>
                {{ form.password1 }}
            </div>
            <div class="fieldWrapper">
                {{ form.password2.errors }}
                <label for="password">Potwierdź hasło:</label>
                {{ form.password2 }}
            </div>
            <br />
            <input type="submit" value="ZAŁÓŻ KONTO" />
    </form>
{% endblock %}