{% block content %}
    <h5>Komentarze: </h5>

    <div class="comments">
        <small>
            {% for comment in comments %}
                <div> {{comment.date}}<br/> {{comment.text}}<br/> Autor: <b>{{comment.author}}</b><br/></div>
                <hr />
            {% endfor %}
        </small>
    </div>
    <div>
        <p>Dodaj komentarz: </p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Dodaj" />
        </form>
    </div>
{% endblock %}