{% extends "base.html" %}

{% block content %}
    <h3>Napisz do mnie:</h3>
    {% if message %} <div style="width: 100%; padding: 5px; background: red;">{{ message }}</div> {% endif %}
    <form method="POST" action="{% url 'contact' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn" value="Napisz maila" />
</form>
{% endblock %}
